.delete-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}
.edit-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}

.like-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}
