@mixin marginBottom {
  margin-bottom: 4rem;
}

.title {
  @include marginBottom;
}

.imagePicker {
  @include marginBottom;
  display: flex;
  justify-content: center;
}

.imagePicker::after {
  content: 'click';
  position: absolute;
  align-content: center;
  width: 200px;
  height: 200px;
  font-size: 5rem;
  text-align: center;
  background: rgba(0, 0, 0, .6); /* 半透明灰色覆盖层 */
  opacity: 0;
  transition: opacity .3s;
}

.imagePicker:hover::after {
  opacity: 1;
}

.title__input {
  margin-bottom: 2rem;
}

.content__input {
  @include marginBottom;
}

.submitButton {
  display: flex;
  justify-content: end;
}