.custom-menu {
  height:50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 111;
  transition: ease 0.4s;
  &--scrolled {
    height: 35px;
  }
}

.custom-menu li {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.ant-menu-dark {
  background-color: #000 !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  color: #000;
  background-color: #ffd500;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected {
  color: #000;

  &::after {
    border-color: #000;
  }
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after {
  border-color: #ffd500;
}
