@mixin marginBottom {
  margin-bottom: 4rem;
}

label {
  color: #000;
  background-color: #fff;
  display: block;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  font-family: sans-serif;
  border: #000 solid 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #ffd500;
    border-color: #ffd500;
  }
}

.imagePicker {
  @include marginBottom;

  &__button {
    align-content: flex-end;
    border: 0;
  }
}

.title__input {
  margin-bottom: 2rem;
}

.content__input {
  @include marginBottom;
}

.submitButton {
  display: flex;
  justify-content: end;
}

.ant-btn-variant-solid {
  background-color: #ffd500;
  color: #000;

  &:hover {
    background-color: #fff !important;
    border-color: #000;
  }
}
