
@mixin flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space {
  margin-bottom: 3rem;
  padding-inline: 3rem
}

.layout {
  @include flex__center;
  padding: 10rem;
}

.image {
  @include flex__center;
  
}

.title {
  @include flex__center;
  padding-inline: 3rem;
}

.content {
  @include flex__center;
  @include space;
}

.buttonContainer {
  @include flex__center;
  justify-content: end;
}

.loading {
  @include flex__center;
  width: 100%;
  height: 500px;
}
