
@mixin marginBottom {
  margin-bottom: 4rem;
}

.imagePicker {
  @include marginBottom;

  &__button {
    align-content: flex-end;
    border: 0;
  }
}

.title__input {
  margin-bottom: 2rem;
}

.content__input {
  @include marginBottom;
}

.submitButton {
  display: flex;
  justify-content: end;
}