.layout {
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  &navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.searchBar {
  background-color: orange;
  height: 100px;
  margin-bottom: 50px;
}
.content {
  background-color: red;
  height: 800px;
}
